body{
    font-size: 12px;
    color: black ;
}

a{
    text-decoration: none;
}

.market-header {
  
    display: flex;
    justify-content: center;
}
.market-header-container{
width: 1060px;
    display: flex;
justify-content: space-between;


}


.market-main-logo{
    width: 200px;
    height: 100px;
    position: relative;
}
.market-shipping-button{
    width: 160px;
    height: 22px;
    border: 1px solid rgb(170, 156, 156);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.market-shipping-button-right{

display: flex;
justify-content: space-between;
padding-left: 5px;

}
.market-main-menu-container{
margin-top: 5px;


}

.market-main-menu-item {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
   
}
.item-border-left{
    border-left: 1px solid gray;
}
.item-font-red{
    color: crimson;
}